extends layout

block content 
    h1.page-title #{formtitle}
    div.warning-message Only Image Files Allowed
    form(class="newItemForm" method='POST' action="/newItem" enctype="multipart/form-data")
            div.form-group
            label(for='name')
            input(type='text', placeholder='Name' name='name' required)
            div.form-group
            label(for='description')
            input(type='text', placeholder='Description' name='description' required)
            div.form-group
            label(for='category')
            input(type='text', placeholder='Category' name='category' required)
            div.form-group
            label(for='price')
            input(type='text', placeholder='Price' name='price' required)
            div.form-group
            label(for='instock')
            input(type='text', placeholder='Instock' name='instock' required)
            div.form-group
            label(for='image')
            input.file-input(placeholder='Image' type='file' name='image' required)
            br
            button.add-item-button(type='submit') Submit