* {
  box-sizing: border-box;
}


body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F0F0F0;
  height: 100vh;
}

a {
  color: #FFF;
  text-decoration: none;
}

p{
  font-size: 1.2rem;
}

/* Homepage Styles*/
.wrapper{
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}


.page-title{
  text-align: center;
  font-size: 3rem;
}

.category-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.newitem-link,.category-title{
  border: 1px solid #00bfff;
  border-radius: 25px;
  padding: 1rem;
  background-color: #00bfff;
  color: #FFF;
  font-size: 1.5rem;
  font-size: bold;
  margin-bottom: 1rem;
}


/* Category Page styles*/
.items-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.item-container{
  border: .3rem solid #00bfff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: .5rem;
}

.item-name, .item-category{
  color: #00bfff;
  font-size: 1.5rem;
  font-size: bold;
}

.category-title,.newitem-link{
  margin: .5rem;
}

/* Button Styles */
.delete-button,.update-button{
  margin-top: 20px;
  font-size: 1.2rem;
}

.delete-button{
  border: 1px solid red;
  padding: .5rem;
  border-radius: 25px;
  background-color: red;
  font-weight: bold;
}

.update-button,.add-item-button{
  border: 1px solid #00bfff;
  padding: .5rem;
  border-radius: 25px;
  background-color: #00bfff;
  font-weight: bold;
  color: #FFF;
}

/* Form Styles */
  .newItemForm{
    text-align: center;
  }
  
  .file-input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align-last: center;
  }
  .newItemForm > input,.add-item-button{
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .editForm > input{
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .warning-message{
    background-color: gold;
    color: #FFF;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 2rem;
    font-weight: bold;
  }

